:root{
--accent:#4A7871;
--light:#DDD3CA;
--dark:#42210B;
}
 
 body{
     margin:0;
 }
 
 nav{
     background: var(--accent);
     height: 60px;
     display:flex;
position:sticky;
z-index: 1;
top:0;left:0;
    align-items: center;
 }
nav svg{
    fill:var(--light);
    height: 1.5em;
    margin: 0 1em;
    width:auto;
}
 nav button{
    margin: 0 1em 0 auto;
 }

.hero{
     
    position: relative;
overflow: hidden;
}

.hero video{
    position: absolute;
bottom:100vh;
    left:0;
    width:100vw;
    height: 200vh;
    z-index: -1;
    object-fit:cover;
}

.screen{
    position: relative;
    background: #00000044;
    height: 100vh;
    width:100vw;
     
     
}

.screen.first{
   display:grid;
   place-items: center;
}

.screen.second{
    display:grid;
   place-items: center;
}

.ejemplos{
    
}

.ejemplos ~ *{
    display: none;
}



.outlined-button{
    cursor:pointer;
    border: solid 2px var(--accent);
    background-color: transparent;
    color:var(--accent);
    border-radius:3em;
    padding: .5em .75em;
    transition: .3s background-color, .3s color;
}

.outlined-button.light{
    
    border: solid 2px var(--light);
    background-color: transparent;
    color:var(--light);
    
}
.outlined-button:hover{
    
    border: solid 2px var(--accent);
    background-color: var(--accent);
    color:var(--light);
    transition: .3s background-color, .3s color;
     
}
.outlined-button.light:hover{
    
    border: solid 2px var(--light);
    background-color: var(--light);
    color:var(--accent);
    
}
.flat-button{
    cursor:pointer;
    border: solid 2px var(--accent);
    background-color: var(--accent);
    color:var(--light);
    border-radius:3em;
    padding: .5em .75em;
    transition: .3s background-color, .3s color;
}

.flat-button:hover{
    
    border: solid 2px var(--accent);
    background-color: transparent;
    color:var(--accent);
    transition: .3s background-color, .3s color;
     
}