@keyframes fade-from-left {
    from {transform:translateX(-30%);opacity:0;}
    to {transform:translateX(-0%);opacity:1;}
  }

  @keyframes fade-from-bottom {
    from {transform:translateY(30%);opacity:0;}
    to {transform:translateX(-0%);opacity:1;}
  }
  @keyframes fade {
    from {opacity:0;}
    to {opacity:1;}
  }


  @keyframes scale-down {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');


  @font-face {
    font-family: 'RedVelvet';
    src: url('./webfonts/red-velvet.eot'); /* IE9 Compat Modes */
    src: url('./webfonts/red-velvet.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./webfonts/red-velvet.woff2') format('woff2'), /* Super Modern Browsers */
         url('./webfonts/red-velvet.woff') format('woff'), /* Pretty Modern Browsers */
         url('./webfonts/red-velvet.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./webfonts/red-velvet.svg') format('svg'); /* Legacy iOS */
  }



:root{
    --light-green:#BDE4E1;
--dark-green:#4A7871;
 
--transformHero:50%;
--sand:#DDD3CA;
--light-sand:#F6F4F2;
--dark:#293D3A;
}
html{
    max-width: 100vw;
}
html.snap{
    /*scroll-snap-type: y mandatory;*/
}
 
 body{
  
    font-family: 'Roboto', sans-serif;
 

    margin:0;
 }
 

 p{
     color:var(--dark-green)
 }


 .scrolldown{
     position: fixed;
     z-index: 20;
     width:6em;
     left:calc(50% - 3em);
     bottom:0;
     pointer-events: none;
     opacity:1;
     transition:opacity .3s;
 }

 .scrolldown.fade{
     opacity:0;
     transition:opacity .3s;
 }


 nav{
     background: var(--dark-green);
      
     display:flex;
     flex-direction: column;
position:sticky;
z-index: 3;
top:0;left:0;
   
 }
 nav .first{
     background: var(--light-green);
    align-items: center;
    justify-content: center;
    color: var(--dark-green);
    position: relative;
    padding:1em;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
 }

 nav .first svg{

    fill:var(--dark-green);
    margin-right: 1em;
 }

 nav .first button:hover{
     color:var(--light-green)
 }
 nav .first>div{
     position: absolute;
     right:2em;
     display:flex;
     align-items: center;
 }
 nav>div{
     display: flex;
    
 }
nav svg{
    fill:var(--sand);
    height: 1.5em;
    margin: 0 ;
    width:auto;
}
 nav select{
     color:var(--sand);
    background:transparent;
    border:none;
 }

 nav ul{list-style: none;}
 nav li{
     display: inline;
     text-transform: uppercase;
     margin-left: 1em;
     font-weight: 300;
 }
nav li a, nav li{
color:var(--sand);
text-decoration: none;
}


 nav .nav{
     padding:0 2em;
    align-items: center; 
    justify-content: space-between;
 }

.hero{
     
    position: relative;
overflow: hidden;
z-index: 0;
}

.hero~.component{
    position: relative;
    background: white;
    z-index: 1;
}
.hero .logo-wrapper{
    position: fixed;
top:50vh;
left:50%;
transform:translateX(-50%);
opacity: 1;
transition: .3s opacity;
}

.hero .logo-wrapper.fade{
    opacity: 0;
    transition: .3s opacity;
}


  .hero .bg-wrapper{
    position: fixed;
   bottom:0;

    left:0;
    width:100vw;
    height: auto;
    z-index: -1;
    
    display: flex;
    flex-direction: column;
}

.bg-wrapper .gatsby-image-wrapper{
   
    
    height: 100vh;
     

}

.bg-wrapper video{
top:100vh;
height: 100vh;
width: 100vw;
object-fit: cover;
object-position: bottom;
}

.hero svg{
    fill:var(--dark-green);
}
.hero h3{
    color:var(--dark-green);
    font-style: italic;
    font-size: 1.5em;
}

.screen{
    position: relative;
 
    height: calc(100vh - 104px);
    width:100vw;
     
     
}

.screen.first{
    display:flex;
   justify-content: center;
   align-items: flex-end;
}

.screen.second{
    display:flex;
  justify-content: center;
  align-items: flex-end;
  
}

.screen.first>div, .screen.second>div {
margin:2em;
}

 .form-wrapper, footer{
     position: relative ;
     z-index: 1;
 }
footer>div:first-child{
    background: var(--dark-green);
    display:flex;
    flex-wrap: wrap;
    padding:2em 2em 5em 2em;
    color:var(--sand)
}
 
footer>div>div{
   width:max(375px,33%);
   display: flex;
   flex-direction: column;
}

footer>div>div:nth-child(1),
footer>div>div:nth-child(2){
    font-style: italic;
    font-weight: 200;
}

footer>div>div:nth-child(3){
    border-left:1px solid var(--sand)

}
footer .last{
    background: var(--light-green);
    color:var(--dark-green);
  
}

footer .last span{
    padding:2em 0;
   width:100%;
   display: block;
    text-align: center;
}

footer   a{
    color:inherit;
    text-decoration: none;
}

footer .last a:hover{
    
}

footer .row{
    display: flex;
    align-items: center;
    margin:0 2em 2em 0;
}
footer .row img{
    margin-right: 1em;
}

footer ul{
    list-style: none;
}

footer li{
    text-transform: uppercase;
    margin-bottom: 1em;
}



.limit-h{
    display:block !important;
    max-height: 80vh;
}

.limit-h .gatsby-image-wrapper{ height: calc(100% - 4em);}
/*Components*/

.component{
    display: grid;
    place-items: center;
   /* max-height: calc(100vh - 104px);*/
    overflow: hidden;
}

.component>div{
    --margin:4em;
    width:calc(100% - (2 * var(--margin)));
    margin:var(--margin);
    
}



.video-wrapper{
    width:100%;
    padding-bottom: 56.25%;
    clip-path: inset(100% 100% 100% 100%);
    position: relative;
    transition: .3s clip-path ease-out;
}

.visible .video-wrapper{
    clip-path: inset(0% 0% 0% 0%);
    transition: .6s clip-path  ease-out;
}

.video-wrapper iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

 .bg-sand{
    background: var(--light-sand);

}

.col-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.left-col,.right-col{
    width: calc(50% - 2em);
position: relative;
    margin:1em;
    
}

.right-col p{
    max-width: 75ch;
}

.left-col .gatsby-image-wrapper{
    /* clip-path: inset(100% 100% 100% 100%);
    
    transition: .3s clip-path ease-out;*/
}
.visible .left-col .gatsby-image-wrapper{
   /* clip-path: inset(0% 0% 0% 0%);
    
    transition: .3s clip-path ease-out;*/
}
.right-col{
transform:translateY(30%);opacity:0;
transition: .3s opacity, .3s transform;
}

.visible .right-col{
   
     transform:translateX(0%);opacity:1;
     transition: .3s opacity, .3s transform;
}
.right-col .gatsby-image-wrapper{
    
    width: 15em;

    
}
.col-wrapper.amenidades{
    margin:0;
    width: 100%;
}

.col-wrapper.amenidades a{
    position: relative;
}

.col-wrapper.amenidades .logo{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 1;
    background-color: rgba(83, 30, 30, .5);
}


.col-wrapper.amenidades .left-col, .col-wrapper.amenidades .right-col{
transform: translateY(0);
    opacity:0;
    transition: .3s opacity

}

.visible  .col-wrapper.amenidades  .left-col, .visible  .col-wrapper.amenidades  .right-col{
   
     opacity:1;
    transition: .3s opacity, .3s transform;
}

.col-wrapper.amenidades .left-col .logo svg{
    fill:var(--sand)
}

.col-wrapper.amenidades  .logo>svg, .col-wrapper.amenidades   .logo>*{
    width: 15em !important;
    fill: white;
    object-fit: contain !important;
}

.col-wrapper.amenidades .left-col, .col-wrapper.amenidades .right-col{
    width:50%;
    overflow: hidden;
    margin:0;
   
}

.col-wrapper.amenidades .right-col .gatsby-image-wrapper{
    
    width: 100%;

    
}

.col-wrapper.amenidades  .gatsby-image-wrapper{
    transform:scale(1);
    transition: .3s transform ease-out;
}

.col-wrapper.amenidades a{overflow: hidden;}

.col-wrapper.amenidades .left-col:hover .gatsby-image-wrapper, .col-wrapper.amenidades .right-col:hover .gatsby-image-wrapper,
.col-wrapper.amenidades a:hover .gatsby-image-wrapper{
    transform:scale(1.1);
    transition: .3s transform ease-out;
}

.col-wrapper .bg{
position: relative;
z-index: 0;

}

.col-wrapper .bg,
.col-wrapper .bg .gatsby-image-wrapper{
    height: 100%;
    width: 100%;
}
.single .col-wrapper{
    flex-direction: column;
    align-items: center;
}
.single .col-wrapper>a{
    height: 60vh;
width:60vh;
margin:2em;
}


.wrapped-header{
    display:block;
    font-size: 2em;
   
     letter-spacing: .25em;
     opacity: 0;
    color:var(--dark-green);
    text-transform: uppercase;
     margin: 1em 0 1em 1em;
     font-weight: 400;

    transition:.3s  letter-spacing, .3s opacity;
}
.wrapped-header.playa{
    
     margin: 1em 0  ;
    
}



.wrapped-header h2{
    margin:0;
    font-weight: 300;
}

.wrapped-header .sub{
    font-size: .5em;
    display: inherit;
}

.visible .wrapped-header{
    letter-spacing: normal;
    opacity:1;
    transition:.5s  letter-spacing ease-out, .3s opacity;
}

.wrapped-header:before{
    content:"";
    display: block;
    margin-bottom:1em;
    width: 3ch;
    height: 2px;
    background: var(--dark-green);
    transform:scaleX(0);
    transform-origin: 0% center;
    transition: .6s transform;

}


.wrapped-header:after{
    content:"";
    display: block;
    margin:0 0 0 auto;
    width: 3ch;
    height: 2px;
    background: var(--dark-green);
    transform:scaleX(0);
    transform-origin: 100% center;
    transition: .6s transform;

}


.wrapped-header.ubicacion:after{
    display:none;
}

.visible .wrapped-header:before, .visible .wrapped-header:after{
    transform:scaleX(1);
    transition: .6s transform ease-out;
}

span.script{
    font-family: 'RedVelvet', cursive;
    text-transform: initial;
    color:var(--dark-green);
    font-size: 2em;
    line-height: 0;
    position: relative;
    left: -.25em;

} 


.centered-button{
    margin:1em auto;
    display: block;
}


.component.blurb{
    background: var(--dark-green);
   
   
}
.blurb .wrapped-header{
    margin: 0 0 1em 0;
     
}
.blurb .script, .blurb h2{
    color:var(--sand);
    font-weight: 300;
}

.blurb>div{
    display: grid;
    place-items: center;
}


.blurb>div>div{
    text-align: center;
}
.blurb.home h2 span:nth-child(3){
    font-style: italic;

font-weight: 200;}

.blurb.amenidades h2 span:first-child{
    font-weight:200;
    letter-spacing:.1em;
    font-style:italic;
    display: inline-block;
         width: 100%;
         text-align: left;
}

.blurb.amenidades h2 span:nth-child(3){
     margin:0 0 0 2em;
}

.blurb.amenidades h2 span:nth-child(5)
{  width: 100%;
    text-align: right;
    font-style:italic;
    display: inline-block;
    font-weight:200;
    font-size:.75em;
     display:block;
      margin:2em 0 ;
    }


    @media (max-width: 627px) {
        .blurb.amenidades h2 span:first-child{
            font-size: .75em;
            display: inline-block;
            text-align: left;
            width: 100%;
            
        }
        
        .blurb.amenidades h2 span:nth-child(3){
           
            display: inline-block;
            text-align: right;
            width: 100%;
            margin:0;
            font-size: 1em;
        }
        
        .blurb.amenidades h2 span:nth-child(5)
        {font-size: .5em;
            
            }


    }

 
/*Components*/


/*AMENIDADES*/

.header-amenidades{
    position: absolute;
    top:20%;
    left: 50%;
    z-index: 1;
    transform:translate(-50%, 0)
 
}

.header-ubicacion{
    position: absolute;
    top:5%;
    left: 50%;
    z-index: 1;
    transform:translate(-50%, 0)
 
}

.header-amenidades h1, .header-amenidades .script{
    color:var(--sand);
    font-weight: lighter;
}

.header-ubicacion h1, .header-ubicacion .script{
    color:var(--dark-green);
    font-weight: lighter;
}

.header-amenidades .script, .header-ubicacion .script{
    display: inline-block;
    margin-left: 1em;
   
}

.full{
    position: relative;
    margin:0 !important;
    width:100% !important;
    max-height: calc(90vh - 8em);
}


/*AMENIDADES*/


















/*CONTACT FORM*/
 
.form-wrapper{
    background-color: var(--dark-green);
    display: grid;
    place-items: center;padding: 5em 0;
}
form{
    display: flex;
    flex-direction: column;
    margin:2em;
}
form label{
    position: relative;
    margin-bottom: 1em;

}

form label>span{
    font-style: italic;
    font-weight: 200;
    color:var(--sand);
    position: absolute;
    left:-2em;
    text-transform: uppercase;
    top:0;
    display: block;
    line-height: 2em;
    height: 2em;
    transform-origin: 0%;
    transition:.2s transform ease-in;
    
}
form label>span>span{
    opacity:0;
    display: block;
    
}
.visible form label>span>span{
   
    animation: fade-from-left .3s both;
}

form label input{
    width: 300px;
    transform-origin: 0%;
    transform:scalex(0);
    height: 2em;
    color:var(--sand);
    background-color: transparent;
border:none;
border-bottom:solid 1px var(--sand);
transition: .3s transform ease-out;
}

.visible form label input{
    margin-bottom: 1em;
    transform:scaleX(1);
    transition: .3s transform ease-out;
   
}
.visible form label:nth-child(2) input{
     transition-delay: .2s;
}

.visible form label:nth-child(3) input{
    transition-delay: .4s;
}

.visible form label:nth-child(2)>span>span{
    animation-delay: .2s;
}

.visible form label:nth-child(3)>span>span{
    animation-delay: .4s;
}
form label input.filled~span,
form label input:focus~span{
  
    transform:scale(.5) translate(0,-70%);
    transition:.2s transform ease-in;
}

form  input.outlined-button{
    opacity:0;
    align-self: center;
    margin-top: 2em;

}
 
.visible form  input.outlined-button{
    
    animation: fade-from-bottom .3s both ease-in;
    animation-delay:.3s;
}
/*
 Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border:none;
    border-bottom:solid 1px var(--sand);
  -webkit-text-fill-color: var(--sand);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-green) inset;
  transition: background-color 5000s ease-in-out 0s;
}


/*CONTACT FORM*/






.outlined-button{
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px var(--dark-green);
    background-color: transparent;
    color:var(--dark-green);
    border-radius:3em;
    padding: .5em .75em;
    transition: .3s background-color, .3s color;
}

.outlined-button.light{
    
    border: solid 2px var(--sand);
    background-color: transparent;
    color:var(--sand);
    
}
.outlined-button:hover{
    
    border: solid 2px var(--dark-green);
    background-color: var(--dark-green);
    color:var(--sand);
    transition: .3s background-color, .3s color;
     
}
.outlined-button.light:hover{
    
    border: solid 2px var(--sand);
    background-color: var(--sand);
    color:var(--dark-green);
    
}
.flat-button{
    
    cursor:pointer;
    border: solid 2px var(--dark-green);
    background-color: var(--dark-green);
    color:var(--sand);
    border-radius:3em;
    padding: .5em 1.25em;
    transition: .3s background-color, .3s color;
    text-transform: uppercase;
}

.flat-button:hover{
    
    border: solid 2px var(--dark-green);
    background-color: transparent;
    color:var(--dark-green);
    transition: .3s background-color, .3s color;
     
}


.flat-button.sand-button{
    border: solid 2px var(--sand);
    background-color: var(--sand);
    color:white;
}

.flat-button.sand-button:hover{
    border: solid 2px var(--sand);
    background-color: transparent;
    color:var(--sand);
}

 /*SIMPLE SLIDER*/

.slides-wrapper{
    position: relative;
    height: calc(100vh - 104px - 8em - 32.31px);
    display: flex;
}
.slide{
    display:none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide .gatsby-image-wrapper{
    height: 100%;
    width: 100%;
   
}
.slide#active{
    display: block;
    position: relative;
    z-index: 0;
    animation: fade .3s both ease-out;
}


.slide#active .gatsby-image-wrapper{
    height: 100%;
    width: 100%;
    animation: scale-down .5s both ease-out;
}

.slider-buttons{
    position:absolute;
    z-index: 1;
    bottom:2em;
left:50%;
transform:translateX(-50%);

}

.slider-buttons button{
    border:none;
    width:16px;
    height:16px;
    margin:1em;
    border-radius: 100%;
    background: #00000055;
    transition: .3s background;
    cursor: pointer;
}
.slider-buttons button.active{
     
    
    background: var(--sand);
    transition: .3s background;
}
 /*SIMPLE SLIDER*/

/*FANCY SLIDER*/
.fancy{
    overflow: visible;
}
.fancy.in-screen{
   
}

.fancy>div>h3{
    width: 100%;
    text-align: center;
    color:var(--dark-green);
    font-weight: 200;
    margin-bottom:0;
    text-transform: uppercase;
font-style: italic;
letter-spacing: .25em;

}

.fancy>div{
    margin: 0;
    width: 100%;
}
.fancy-wrapper{
    /*height: calc(100vh - 294px);*/
    

    max-width: 100vw;
    /*overflow-x: hidden;*/

}
.fancy-wrapper>div{

    height: 100%;
    width: 100%;
    overflow: visible;
    position: relative;
    margin-bottom: 5em;
}
.fancy-wrapper::-webkit-scrollbar {
  /*  width: 0px;
    background: transparent;  */
}
.fancy-slide{
    scroll-snap-align:center;
position: relative;
    height: 100%;
    width: 100% !important;
    margin:0 !important;
    max-height: calc(100vh - 240px);
    display: flex;
    flex-direction: column;
}


.fancy button.prev{
    position: sticky;
    left:1em;
    top:50%;
}
.fancy button.next:after{
    content:" ";
    border-bottom: solid 2px var(--dark-green);
    border-left: solid 2px var(--dark-green);
    width:20px;
    height:20px;
    display: block;
    transform-origin: center;
   margin:auto;transform: rotate(-45deg);
}

.fancy button.prev:after{
    content:" ";
    border-top: solid 2px var(--dark-green);
    border-right: solid 2px var(--dark-green);
    width:20px;
    height:20px;
    display: block;
   margin:auto;
   transform-origin: center;
   transform: translateY(60%) rotate(-45deg)  ;
}


.fancy button.next{
    position: sticky;
    margin: 0 1em 0 auto;
    display: block;
    top:50%;
}
.fancy button.prev,.fancy button.next{
    cursor: pointer;
    text-align: center;
    border: none;
    background: transparent;
    color: var(--dark-green);
    text-transform: uppercase;
    font-style: italic;pointer-events: none;
    opacity: 0;
    transition: .3s opacity;
    z-index: 2;
}


/*.snap .fancy button.prev, .snap .fancy button.next{*/
.visible.fancy button.prev, .visible.fancy button.next{
    opacity: 1;
    pointer-events: all;
    transition: .3s opacity;
}
 
.fancy-slide .gatsby-image-wrapper{
    height: 100%;
    width:100%;
    margin:auto;
    clip-path: inset(20% 20% 20% 20%);
     transform:scale(1.1);
    transition: .3s clip-path ease-out, .3s transform ease-out;
}

 
.fancy-slide~button{
    margin-top: 2em;
    opacity: 0;
    transition: .3s opacity;
    
}
.fancy-wrapper .in-screen .fancy-slide ~button{
opacity: 1;
transition: .3s opacity;
}
.fancy-wrapper .in-screen .fancy-slide .gatsby-image-wrapper{
   
    clip-path: inset(0% 0% 0% 0%);
    transform:scale(1);
    transition: .3s clip-path ease-out, .3s transform ease-out;
}


 

.fancy-title{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    color: white;
    
    font-size: 6em;
    font-weight: 400;
    line-height: .5em;
    letter-spacing: .25em;
    text-transform: uppercase;
    font-style: italic;
    z-index: 1;
    text-align: center;
 

}
.fancy-slide span:first-child{
    transform: translateX(-50%);
    display: inline-block;
    opacity:0;
    transition: .5s transform ease-out;
}
.fancy-title .sub{
    font-weight: 200;
    font-size: .9em;
    line-height: .9em;
    letter-spacing: initial;
    transform: translateX(50%);
    display: inline-block;
    opacity:0;
    transition: .3s transform ease-out, .3s opacity;
    
}

.fancy-wrapper .in-screen .fancy-title span{
    transform: translateX(0);
    opacity:1;
    transition: .3s transform ease-out, .3s opacity;
}

/*FANCY SLIDER*/


.for-mobile{
    display: none;
}
button.for-mobile{
    color:var(--sand);
    background: transparent;
    border:none;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 1em;

}


.amenidad-detalle>div{
    margin: calc(var(--margin) / 2) 0 0 0;
    width: 100%;
}
 
 
.amenidad-detalle .slides-wrapper {
    
    height: 70vh;
     
}
.amenidad-detalle .back{text-align: center;
    cursor: pointer;
margin-top: 2em;
border:none;
background: transparent;
display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--dark-green);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 200;
}
.amenidad-detalle a{
    text-decoration: none;
    display: block;
    margin: 0px 0 2em 4em;
}


.amenidad-detalle .back>span{
    display: block;
    width:30px;
    height:30px;
    display: grid;
    place-items: center;
     border-radius: 100%;
     border: solid 2px var(--dark-green);
     transform: scale(1);
     transition: .3s transform;
 
 }

 .amenidad-detalle .back:hover>span{
     transform: scale(1.1);
     transition: .3s transform;
 }

 .amenidad-detalle .back .arrow-back{
    width:15px;
    height:15px;
    transform:translateX(20%) rotate(-45deg);
    display: inline-block;
    border-top: solid 2px var(--dark-green);
    border-left: solid 2px var(--dark-green);
}



.amenidades-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100vw !important;
    margin:0 !important;
    
}

.amenidades-grid .grid-element{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    position: relative;
}

.amenidades-grid .grid-element a, .amenidades-grid .grid-element a>div{
    height: 100%;
    width: 100%;
}

.amenidades-grid .grid-element.big{
    width: calc(100vw - (100vw / 3));
    
}
.amenidades-grid .grid-element .icon-wrapper{
    position: absolute !important;
    left:50%;
    top:50%;
    transform: translate(-50%, -0%);
    z-index: 2;
    opacity: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 300; display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s transform ease-in-out, .3s opacity;
    
}

.amenidades-grid .grid-element.visible .icon-wrapper{
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .3s transform ease-in-out, .3s opacity;
}


.amenidades-grid .grid-element:after{
    content:"";
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(83, 30, 30, .5);
    pointer-events: none;
    opacity:1;
    transition:.3s opacity;
} 




.amenidades-grid .grid-element .icon-wrapper img{
    height: 3em;
    width: 3em;
    margin:auto;
    
}
.amenidades-grid .grid-element .gatsby-image-wrapper:nth-child(2){
    height: 100%;
    position: relative;
    z-index: 0;
    transform:scale(1);
    transition: .3s transform ease-out;
}

.amenidades-grid .grid-element:hover .gatsby-image-wrapper:nth-child(2){
    transform:scale(1.1);
    transition: .3s transform ease-out;
}


.amenidades-grid .grid-element:hover:after, .amenidades-grid .grid-element:hover .icon-wrapper {
    opacity:0;
    transition:.3s opacity;
   

}


.amenidad-detalle>div> .gatsby-image-wrapper{
    max-height: 70vh;
}

.amenidad-detalle .wrapped-header{
    margin-left:2em;
    margin-right: 2em;
    margin-top: 2em;
}


.amenidad-detalle p{
    margin-left:4em;
    margin-right: 4em;
    margin-top: 2em;
}
 

.amenidad-detalle .icon-wrapper{
    
   
    z-index: 2;
    
    text-align: center;
    color: var(--dark-green);
    text-transform: uppercase;
    font-weight: 300; display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    font-style: italic;
    
    
}

.amenidad-detalle .icon-wrapper svg{
    fill:var(--dark-green);
    width: 3em;
    height: 3em;
}

.amenidad-detalle .icon-wrapper svg *{
    fill:var(--dark-green)
}

.amenidades-header>div {
    --margin: 0;
    margin-bottom: 2em;
    width: 100vw;
}


.centered h3{
text-align: center;
font-weight: 200;
text-transform: uppercase;
color:var(--dark-green);
margin: 2em;

}


.centered p{
    margin:2em;
}



.logo-vecinos{
    display: flex;
    flex-wrap: wrap;
}

.logo-vecinos img{
    width: calc((100% / 7) - 2em);
    margin: 1em;
    object-fit: contain;
}

.ciclopista-pre+.gatsby-image-wrapper *{
    object-position: top center !important;
}


.slidecontainer{
    margin: 1em auto 4em;
    max-width: 800px;
    padding:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
 
     
}
.slidecontainer input{
    width: 100%;
    -webkit-appearance: none;
    background:var(--sand);
    border-radius: 1em;
    overflow: hidden;
}


.slidecontainer input[value="2"] {
   
    background: linear-gradient(90deg, var(--dark-green) 0%, var(--dark-green) 33.3%, var(--sand) 33.3%,var(--sand) 100%) ;

    
     
}


.slidecontainer input[value="3"] {
   
    background: linear-gradient(90deg, var(--dark-green) 0%, var(--dark-green) 66.6%,var(--sand) 66.6%,var(--sand) 100%) ;

    
     
}

.slidecontainer input[value="4"] {
   
    background: linear-gradient(90deg, var(--dark-green) 0%, var(--dark-green) 100%) ;

    
    
}
.slidecontainer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
 border-radius: 100%;
position: relative;
 
    background: var(--dark-green);
    cursor: pointer;
  }


  
  .slidecontainer input::-moz-range-thumb {
    width: 25px;
    border-radius: 100%;
    height: 25px;
    background: var(--dark-green);
    cursor: pointer;
  }

.slidecontainer>div{
    width:100%;
    display: flex;
    justify-content: flex-start;
    transform:translateX(0);
    transition: .3s transform ease-out;
}
.slidecontainer span{
    pointer-events: none;
    position: relative;
    border:solid 2px var(--dark-green);
    color:var(--dark-green);
    text-transform: uppercase;
    letter-spacing: .1em;
    padding:.5em 1.5em;
    border-radius: 2em;
 top:1em;
 transform:translateX(calc(-50% + 12.5px))
    
    
}
.slidecontainer span:before{
    content:"";
    display: block;
    position: absolute;
    bottom:100%;
    left:calc(50% - 1px);
    width:2px;
    height: 2em;
    background-color: var(--dark-green);
}
.slidecontainer .pos2{
    transform:translateX(calc((100% / 3) - 8.5px));
    transition: .3s transform ease-out;
}

.slidecontainer .pos3{
    transform:translateX(   calc( ((100% / 3) * 2 ) - 16.5px )     );
    transition: .3s transform ease-out;
}
.slidecontainer .pos4{
    transform:translateX(   calc( (100% - 24.5px ) )   );
    transition: .3s transform ease-out;
}
.residencia-accordeon {
    margin: 1em auto;
    max-width: 800px;



   
    padding: 0 2em;
 

}


.residencia-accordeon h2{
    display: flex;
    cursor: pointer;
    font-size: 2em;
    font-weight: 300;
    padding:1em 0 0;
    margin: 0;
    border-top: solid 1px var(--dark-green);
    
}

.residencia-accordeon h3{
    
    letter-spacing: .1em;
}

.residencia-accordeon.detalle h2{
 
    cursor: initial;
    
    border-top: none;
    
}



.residencia-accordeon h2::after{
content:"";
display: inline-block;
width: 25px;
height: 25px;
 transform:rotate(0deg);
display: inline-block;
 transition:.3s transform;
margin: 0 1em 0 auto;
background: url("../img/RESIDENCIAS/flecha-expand.svg");
}


.residencia-accordeon.detalle h2::after{
 
   content: none;
}





.residencia-accordeon *{
    color: var(--dark-green);
    text-transform:uppercase;
}

.residencia-accordeon.expanded h2::after{
    transform:rotate(-180deg);

    transition:.3s transform;
}


.residencia-accordeon .content{
    max-height: 0;
    font-weight: 300;
    letter-spacing: .1em;
    overflow: hidden;
    transition: .3s max-height ease-out;
}

.residencia-accordeon.expanded .content{
max-height: 890px;
transition: .6s max-height ease-out;
 
}


.residencia-accordeon .icons-wrapper{
    display: flex;
    justify-content: space-around;
    margin:1em 0 2em;
}

.residencia-accordeon .icons-wrapper img{
width:6em
}


.residencia-accordeon .icons-wrapper>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:20ch;
  width: 25%;
}

.residencia-accordeon .icons-wrapper>div span{
    text-align: center;
    margin: 0;
    text-transform: initial;
    display: flex;
    align-items: center;
    height: 2.6em;
    font-style: italic;
}

.residencia-accordeon:last-child{
    margin-bottom: 2em;
} 



.residencias-buttons-wrapper{
 
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2em;
}


.residencias-buttons-wrapper button{
    margin:1em;
    border:none;
    cursor: pointer;
    background: transparent;
}

.residencias-buttons-wrapper button>span:first-child{
    display: block;
    margin:0 auto .5em;
    border:solid 1px var(--dark-green);
  width:35px;
  line-height: 35px;
  height:35px;
    border-radius: 100%;
    color:var(--dark-green);
    font-size: 1.5em;
    font-weight: bold;

transition: .3s background, .3s color;
}


.residencias-buttons-wrapper button:hover>span:first-child, .residencias-buttons-wrapper button.active>span:first-child{
background: var(--dark-green);
color: var(--sand);
transition: .3s background, .3s color;
}



.residencias-buttons-wrapper button>span:nth-child(2){
    color:var(--dark-green);
    
    font-weight: bold;
    text-transform: uppercase;

}


.detalle-hero{
    display: flex;
    max-height: 80vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.detalle-hero .gatsby-image-wrapper{
    height: 100%;
    width: 100%;

}

.floor-plan {
    display: grid;
    place-items: center;
    
}
.floor-plan .gatsby-image-wrapper{
    width: min(700px, calc(100% - 6em));
    margin: 3em;

}


.features{
    padding-top: 2em;
}

.features .wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features .col{
    margin: 0 2em;
    width:min(auto, calc(100% - 4em))
}

.features .feature h4{
    color: var(--dark-green);
    text-transform: uppercase;
}

.features .feature>div{
    display: flex;
    align-items: center;
font-weight: 300;
color: var(--dark-green);
font-style: italic;
margin-left: 2em;
}

.features .feature>div img{
    height: 2em;
    margin-right: 1em;
}

.features .feature>div span:nth-child(2){
    display: inline-block;
    margin-right: 1em;
}
.features .feature>div span:last-child{
    display: inline-block;
    padding-left: 1em;
    border-left: 1px solid var(--dark-green);

}

.features .buttons{
    display: flex;
    justify-content: center;
   
    margin: 2em auto;
}

.map-wrapper{
    padding: 2em 0;
    display: flex;
    justify-content: center;
}

.map-wrapper .map, .map-wrapper .map-content{
  width: min(100%, 400px);
color:var(--dark-green)
}


.map-content button{
    cursor: pointer;
    border:none;
    background: transparent;
    color: var(--dark-green);
    font-size: 1.5em;
    transform:translate(0);
    transition: .5s transform ease-out;
}

.map-content button:nth-of-type(1):hover{
    transform: translateX(20%);
    transition: .3s transform ease-out;
}

.map-content button:nth-of-type(2):hover{
    transform: translateX(-20%);
    transition: .3s transform ease-out;
}

.map-wrapper .map-content h4{
    font-size: 1.5em;

    font-weight: normal;
}
.map-wrapper .map-content h5{
    font-size: 1.3em;
    font-weight: normal;
}
  .map-wrapper .map-content h4,
  .map-wrapper .map-content h5{
text-transform: uppercase;
}


  .map-wrapper .map-content h4:before{
    content:"";
    display: block;
    margin-bottom:1em;
    width: 3ch;
    height: 2px;
    background: var(--dark-green);
  /*  transform:scaleX(0);
    transform-origin: 0% center;*/
    transition: .6s transform;

}


.map-wrapper .map-content{
   display: flex;
   flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3em;
  align-items: flex-start;
    
  }
  .map-wrapper .map-content>div{
      display: flex;
      align-items: center;
      margin-bottom: 3em;
  }

  .map-wrapper .map-content .legend{
      border:1px solid var(--dark-green);
      border-radius: 100%;
      padding:.5em;
      font-size: 1.3em;
      font-weight: bold;
      line-height:calc(55px - 1em);
      height:calc(55px - 1em);
      width:calc(55px - 1em);
      text-align: center;

  }

  .map-wrapper .map-content .legend+span{
      margin-left: 1em;
      font-style: italic;
      font-weight: 300;

  }

  
.map-wrapper .map{
    padding: 2em;
}

.map-wrapper svg g {
    cursor: pointer;
    pointer-events: initial;
}
 


.map-wrapper  svg>g>circle:nth-child(1){
pointer-events: initial;
}
.map-wrapper  svg>g>circle:nth-child(1)~ *, .map-wrapper  svg>g>circle:nth-child(1)~ * *{
    pointer-events: none;
}
      

.map-wrapper svg g circle.map-click,.map-wrapper svg g circle.map-click~circle{
    fill:transparent;
}
.map-wrapper svg g circle#active~circle{
 
    fill: url(#myGradient);
}

 
.map-wrapper .st2{fill:#0073B3;}
.map-wrapper 	.st3{fill:#FFFFFF;}
.map-wrapper  .st4{fill:#3F3F3F;}

.map-wrapper  .st6{fill:#4A7871;}
.map-wrapper  .st7{fill:#60727E;}
 
.map-wrapper  .st8{
fill:#2A5268;
}
/*
.map-wrapper svg>path{
    fill:none;
}
.map-wrapper svg  g{
    cursor: pointer;
} 

.map-wrapper svg  g path:nth-child(1){

    fill:url('#myGradient');
    opacity: 0;
    transition:.3s opacity;

}
.map-wrapper .active1 svg>g:nth-child(3) path:nth-child(1){
     opacity: 1;
     transition:.3s opacity;
    
}
 
.map-wrapper .active2 svg>g:nth-child(2) path:nth-child(1){
    opacity: 1;
    transition:.3s opacity;
}

.map-wrapper .active3 svg>g:nth-child(4) path:nth-child(1){
    opacity: 1;
    transition:.3s opacity;
}

.map-wrapper .active4 svg>g:nth-child(5) path:nth-child(1){
    opacity: 1;
    transition:.3s opacity;
}


.map-wrapper .active5 svg>g:nth-child(8) path:nth-child(1){
    opacity: 1;
    transition:.3s opacity;
}


.map-wrapper .active6 svg>g:nth-child(7) path:nth-child(1){
    opacity: 1; 
    transition:.3s opacity;
}



.map-wrapper .active7 svg>g:nth-child(6) path:nth-child(1){
    opacity: 1;
    transition:.3s opacity;
}



.map-wrapper svg  g *:nth-child(3),
.map-wrapper svg  g *:nth-child(4){
    fill:white;
}

.map-wrapper svg  g path:nth-child(2){
    fill:#4B7871
}



.map-wrapper svg  g:nth-child(2) path:nth-child(2){
   

    fill:#2B5268
}

 
 */


.map-wrapper .map {
    position: relative;
}

.map-wrapper .map>div{
    position: absolute !important;
    top:0;
    left:0;
    margin: 2em;
    width:calc(100% - 4em);
   height:auto;
    z-index: 0;
}

.map-wrapper .map svg{
    position: relative;
    z-index: 1;
}


 

.single-image>.gatsby-image-wrapper{
    margin:4em;
    max-height: calc(80vh - 4em);
}



.centered.ubicacion{
display: flex;
align-items: center;
flex-direction: column;
margin:0;
width:100%
  }

  .centered.ubicacion *{color:var(--dark-green)}
  .centered.ubicacion>*{line-height: initial; max-width: 500px; text-align: center;color:var(--dark-green)}
  .circle-map{
      border-radius: 100%;
      width:min(500px, calc(100vw - 2em)) !important;
      height: min(500px, calc(100vw - 2em)) ;
      padding:1em;
      display: inline-block;
      position: relative;
      margin-top: 0 !important;
  }
.circle-map::before{
    content: "";
    position: absolute;
    top: 0;
   left:250px;
   transform: translateX(-50%);
    width: 200vw;
    height: 50%;
    background: var(--light-sand);
}
  .circle-map>img{
      height: min(500px, calc(100vw - 2em)) ;
      width: min(500px, calc(100vw - 2em)) ;
      border-radius: 100%;
      position:relative;
  }

  .google-map{
      display:block;
      width:min(800px,100%);
      margin: 0 auto 4em;
  }


  .conocenos-hero{
    padding: 2em;
  }



  .conocenos-hero *{
    color:var(--dark-green)
  }


  .conocenos-hero>div{
    display: flex;
    
      width:100%;
    
  }
.conocenos-hero>div>div{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1em;
}

.conocenos-hero .gatsby-image-wrapper{
    width:60%;
    max-height: 50vh;

}



 @media (max-width: 500px) {
  


    .map-wrapper{
        flex-direction: column;
        align-items: center;
    }



    .fancy-title{
        font-size: 2.6em ;
        mix-blend-mode: normal;
    }
     


    .fancy button.prev,.fancy button.next{
       
        color: var(--sand);
        
    }
    .fancy button.prev:after,.fancy button.next:after{
        border-color: var(--sand);
    }
.fancy-slide{overflow: hidden;}
    .blurb{
        padding-bottom: 2em;
    }
    .blurb.home .script{
        font-size: .7em;
    }
    .blurb.home h2 span:nth-child(3){font-size: .3em;}
 }



.equipo{

    display: block;
    width:calc(100% - 4em);
    padding:2em;
}
.personas-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.persona{
    color: var(--dark-green);
}
.persona .gatsby-image-wrapper{
    height: 8em;
    width: 8em;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 1em;

}

 @media (max-width: 800px) {

    :root{
  
     
    --transformHero:100%;}
    .hero .logo-wrapper {
        width:80vw;
    }

    .logo-vecinos img{
        width: calc((100% / 2) - 2em);
        margin: 1em;
        object-fit: contain;
    }

    .hero .bg-wrapper {
        position: absolute;
        bottom: calc(100vh - 50px);}


   
.screen{
    position: relative;
  
    height: calc(100vh - 50px);}
     nav .nav{
         padding: 0;
         justify-content: flex-start;
     }
     .amenidad-detalle .icon-wrapper{
         margin-top: 2em;
     }
     
nav ul{
    display: none;
}

.nav .for-mobile svg{
    margin-right: 1em;
}

.nav .for-mobile:last-child{
    margin: 0 1em 0 auto;
    display: flex;
    align-items: center;
}

nav>div{
    height: 50px;
}
    .for-mobile{
        display: inline;
    }


    .open  ul{
        display: block;
        position: absolute;
        top:50px;
        left:0;
        width: 100%;background: var(--dark-green);
        margin:0;
        animation: fade-from-left .3s ease-out   both;
    }

    .open  ul li{
        display: block;
    }
.first{
    display:none;
}
.col-wrapper {
  
    flex-direction: column-reverse;
}

.col-wrapper.amenidades {
  
    flex-direction: row;
}

.left-col,.right-col{
    width: calc(100vw - 2em);

    margin:1em;
    
}

.blurb.home .script{
    font-size: 1.7em;
}
form {
   
    margin: 3em;
}

.fancy-slide:before{
    content: "";
    position: absolute;
    top:20%;
    left: 0;
    width: 100%;
    height: 60%;
    background: radial-gradient(ellipse at center,#DDD3CAff 0, #DDD3CA00 60%);
    z-index: 1;
    pointer-events: none;
}

form label input {
    width: 200px;
}

    .component>div{
        --margin:0;
        margin-bottom: 2em;
        width:100vw;
    }



    .wrapped-header{
      font-size:1.5em;
         margin: 1em ;
}
.fancy-title{
    font-size: 3.6em ;
    mix-blend-mode: normal;
}


.header-amenidades{
    top:10%;
    font-size: .75em;
}

.slider-buttons button {
    width:22px;
    height:22px;
}



.col-wrapper.amenidades .left-col .logo svg, .col-wrapper.amenidades .right-col .logo *{
    width: 9em !important;
 
    object-fit: contain !important;
}
 

.amenidades-grid .grid-element{
    width: 50vw !important;
    height: 50vw;
    
}
 

.amenidades-grid.amada .grid-element:nth-child(1){
    order: 1;
  
}

.amenidades-grid.amada .grid-element:nth-child(2){
    order: 3;
    width:100vw !important;
  
}

.amenidades-grid.amada .grid-element:nth-child(3){
    order: 2;
  
}
 
.amenidades-grid.amada .grid-element:nth-child(4){
    order: 4;
  
}
.amenidades-grid.amada .grid-element:nth-child(5){
    order: 7;
    
  
}
.amenidades-grid.amada .grid-element:nth-child(6){
    order: 6;
    width:100vw !important;
  
}
.amenidades-grid.amada .grid-element:nth-child(7){
    order: 9;
    width:100vw !important;
  
}
.amenidades-grid.amada .grid-element:nth-child(8){
    order: 8;
  
}
.amenidades-grid.amada .grid-element:nth-child(9){
    order: 5;
  
}
.amenidades-grid.amada .grid-element:nth-child(10){
    order: 10;
  
}
.amenidades-grid.amada .grid-element:nth-child(11){
    order: 11;
  
}

.single .col-wrapper>a {
    height: 100vw;
    width: 100vw;
    margin: 4em 0 0 0;
}

.amenidad-detalle>div>span.wrapped-header {
    margin:1em;
}


 
.amenidad-detalle>div>p,
.amenidad-detalle>div>a{
    margin:0 1em;
}



 }