@keyframes fade-from-left {
    from {transform:translateX(-30%);opacity:0;}
    to {transform:translateX(-0%);opacity:1;}
  }

  @keyframes fade-from-bottom {
    from {transform:translateY(30%);opacity:0;}
    to {transform:translateX(-0%);opacity:1;}
  }
  @keyframes fade {
    from {opacity:0;}
    to {opacity:1;}
  }


  @keyframes scale-down {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');


  @font-face {
    font-family: 'RedVelvet';
    src: url('./webfonts/red-velvet.eot'); /* IE9 Compat Modes */
    src: url('./webfonts/red-velvet.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./webfonts/red-velvet.woff2') format('woff2'), /* Super Modern Browsers */
         url('./webfonts/red-velvet.woff') format('woff'), /* Pretty Modern Browsers */
         url('./webfonts/red-velvet.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./webfonts/red-velvet.svg') format('svg'); /* Legacy iOS */
  }



:root{
    --light-green:#BDE4E1;
--dark-green:#4A7871;
 

--sand:#DDD3CA;
--light-sand:#DDD3CA40;
--dark:#293D3A;
}

html.snap{
    scroll-snap-type: y mandatory;
}
 
 body{
  
    font-family: 'Inter', sans-serif;
 

    margin:0;
 }
 
 nav{
     background: var(--dark-green);
      
     display:flex;
     flex-direction: column;
position:sticky;
z-index: 1;
top:0;left:0;
   
 }
 nav .first{
     background: var(--light-green);
    align-items: center;
    justify-content: center;
    color: var(--dark-green);
    position: relative;
    padding:1em;
    text-transform: uppercase;
 }

 nav .first svg{

    fill:var(--dark-green);
    margin-right: 1em;
 }

 nav .first button:hover{
     color:var(--light-green)
 }
 nav .first>div{
     position: absolute;
     right:2em;
     display:flex;
     align-items: center;
 }
 nav>div{
     display: flex;
    
 }
nav svg{
    fill:var(--sand);
    height: 1.5em;
    margin: 0 ;
    width:auto;
}
 

 nav ul{list-style: none;}
 nav li{
     display: inline;
     text-transform: uppercase;
     margin-left: 1em;
     font-weight: 300;
 }
nav li a{
color:var(--sand);
text-decoration: none;
}


 nav .nav{
     padding:0 2em;
    align-items: center; 
    justify-content: space-between;
 }

.hero{
     
    position: relative;
overflow: hidden;
}

.hero video{
    position: absolute;
bottom:100vh;
    left:0;
    width:100vw;
    height: 200vh;
    z-index: -1;
    object-fit:cover;
}

.screen{
    position: relative;
    background: #00000044;
    height: 100vh;
    width:100vw;
     
     
}

.screen.first{
   display:grid;
   place-items: center;
}

.screen.second{
    display:grid;
   place-items: center;
}

.ejemplos{
    
}

footer *{
     
}
footer>div:first-child{
    background: var(--dark-green);
    display:flex;
    flex-wrap: wrap;
    padding:2em 2em 5em 2em;
    color:var(--sand)
}
 
footer>div>div{
   width:max(375px,33%);
   display: flex;
   flex-direction: column;
}

footer>div>div:nth-child(1),
footer>div>div:nth-child(2){
    font-style: italic;
    font-weight: 200;
}

footer>div>div:nth-child(3){
    border-left:1px solid var(--sand)

}
footer .last{
    background: var(--light-green);
    color:var(--dark-green);
  
}

footer .last span{
    padding:2em 0;
   width:100%;
   display: block;
    text-align: center;
}

footer   a{
    color:inherit;
    text-decoration: none;
}

footer .last a:hover{
    
}

footer .row{
    display: flex;
    align-items: center;
    margin:0 2em 2em 0;
}
footer .row img{
    margin-right: 1em;
}

footer ul{
    list-style: none;
}

footer li{
    text-transform: uppercase;
    margin-bottom: 1em;
}
/*Components*/

.component{
    display: grid;
    place-items: center;
   /* max-height: calc(100vh - 104px);*/
    overflow: hidden;
}

.component>div{
    --margin:4em;
    width:calc(100% - (2 * var(--margin)));
    margin:var(--margin);
    
}



.video-wrapper{
    width:100%;
    padding-bottom: 56.25%;
    clip-path: inset(100% 100% 100% 100%);
    position: relative;
    transition: .3s clip-path ease-out;
}

.visible .video-wrapper{
    clip-path: inset(0% 0% 0% 0%);
    transition: .6s clip-path  ease-out;
}

.video-wrapper iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.bg-sand{
    background: var(--light-sand);

}

.col-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.left-col,.right-col{
    width: calc(50% - 2em);

    margin:1em;
    
}

.right-col p{
    max-width: 75ch;
}

.left-col .gatsby-image-wrapper{
    clip-path: inset(100% 100% 100% 100%);
    
    transition: .3s clip-path ease-out;
}
.visible .left-col .gatsby-image-wrapper{
    clip-path: inset(0% 0% 0% 0%);
    
    transition: .3s clip-path ease-out;
}
.right-col{
transform:translateY(30%);opacity:0;
transition: .3s opacity, .3s transform;
}

.visible .right-col{
   
     transform:translateX(0%);opacity:1;
     transition: .3s opacity, .3s transform;
}
.right-col .gatsby-image-wrapper{
    
    width: 15em;

    
}

.wrapped-header{
    display:block;
    font-size: 2em;
   
     letter-spacing: .25em;
     opacity: 0;
    color:var(--dark-green);
    text-transform: uppercase;
     margin: 1em 0 1em 1em;
     font-weight: 400;

    transition:.3s  letter-spacing, .3s opacity;
}

.wrapped-header h2{
    margin:0;
    font-weight: 300;
}

.wrapped-header .sub{
    font-size: .5em;
}

.visible .wrapped-header{
    letter-spacing: normal;
    opacity:1;
    transition:.5s  letter-spacing ease-out, .3s opacity;
}

.wrapped-header:before{
    content:"";
    display: block;
    margin-bottom:1em;
    width: 3ch;
    height: 2px;
    background: var(--dark-green);
    transform:scaleX(0);
    transform-origin: 0% center;
    transition: .6s transform;

}


.wrapped-header:after{
    content:"";
    display: block;
    margin:0 0 0 auto;
    width: 3ch;
    height: 2px;
    background: var(--dark-green);
    transform:scaleX(0);
    transform-origin: 100% center;
    transition: .6s transform;

}

.visible .wrapped-header:before, .visible .wrapped-header:after{
    transform:scaleX(1);
    transition: .6s transform ease-out;
}

span.script{
    font-family: 'RedVelvet', cursive;
    text-transform: initial;
    color:var(--dark);
    font-size: 2em;
    line-height: 0;
    position: relative;
    left: -.25em;

} 


.centered-button{
    margin:1em auto;
    display: block;
}


.blurb{
    background: var(--dark-green);
   
   
}
.blurb .wrapped-header{
    margin: 0 0 1em 0;
     
}
.blurb .script, .blurb h2{
    color:var(--sand);
    font-weight: 300;
}

.blurb>div{
    display: grid;
    place-items: center;
}


.blurb>div>div{
    text-align: center;
}
.blurb h2 span:nth-child(3){
    font-size: .5em;
    font-weight: 200;
    letter-spacing: .2em;
    font-style: italic;
    margin:1em;
    display: inline-block
}
/*Components*/





















/*CONTACT FORM*/
.form-wrapper ~ *{
    display: none;
}
.form-wrapper{
    background-color: var(--dark-green);
    display: grid;
    place-items: center;padding: 5em 0;
}
form{
    display: flex;
    flex-direction: column;
    margin:2em;
}
form label{
    position: relative;
    margin-bottom: 1em;

}

form label>span{
    font-style: italic;
    font-weight: 200;
    color:var(--sand);
    position: absolute;
    left:-2em;
    text-transform: uppercase;
    top:0;
    display: block;
    line-height: 2em;
    height: 2em;
    transform-origin: 0%;
    transition:.2s transform ease-in;
    
}
form label>span>span{
    opacity:0;
    display: block;
    
}
.visible form label>span>span{
   
    animation: fade-from-left .3s both;
}

form label input{
    width: 300px;
    transform-origin: 0%;
    transform:scalex(0);
    height: 2em;
    color:var(--sand);
    background-color: transparent;
border:none;
border-bottom:solid 1px var(--sand);
transition: .3s transform ease-out;
}

.visible form label input{
    margin-bottom: 1em;
    transform:scaleX(1);
    transition: .3s transform ease-out;
   
}
.visible form label:nth-child(2) input{
     transition-delay: .2s;
}

.visible form label:nth-child(3) input{
    transition-delay: .4s;
}

.visible form label:nth-child(2)>span>span{
    animation-delay: .2s;
}

.visible form label:nth-child(3)>span>span{
    animation-delay: .4s;
}
form label input.filled~span,
form label input:focus~span{
  
    transform:scale(.5) translate(0,-70%);
    transition:.2s transform ease-in;
}

form  input.outlined-button{
    opacity:0;
    align-self: center;
    margin-top: 2em;

}
 
.visible form  input.outlined-button{
    
    animation: fade-from-bottom .3s both ease-in;
    animation-delay:.3s;
}
/*
 Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border:none;
    border-bottom:solid 1px var(--sand);
  -webkit-text-fill-color: var(--sand);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-green) inset;
  transition: background-color 5000s ease-in-out 0s;
}


/*CONTACT FORM*/






.outlined-button{
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px var(--dark-green);
    background-color: transparent;
    color:var(--dark-green);
    border-radius:3em;
    padding: .5em .75em;
    transition: .3s background-color, .3s color;
}

.outlined-button.light{
    
    border: solid 2px var(--sand);
    background-color: transparent;
    color:var(--sand);
    
}
.outlined-button:hover{
    
    border: solid 2px var(--dark-green);
    background-color: var(--dark-green);
    color:var(--sand);
    transition: .3s background-color, .3s color;
     
}
.outlined-button.light:hover{
    
    border: solid 2px var(--sand);
    background-color: var(--sand);
    color:var(--dark-green);
    
}
.flat-button{
    
    cursor:pointer;
    border: solid 2px var(--dark-green);
    background-color: var(--dark-green);
    color:var(--sand);
    border-radius:3em;
    padding: .5em 1.25em;
    transition: .3s background-color, .3s color;
    text-transform: uppercase;
}

.flat-button:hover{
    
    border: solid 2px var(--dark-green);
    background-color: transparent;
    color:var(--dark-green);
    transition: .3s background-color, .3s color;
     
}


.flat-button.sand-button{
    border: solid 2px var(--sand);
    background-color: var(--sand);
    color:white;
}

.flat-button.sand-button:hover{
    border: solid 2px var(--sand);
    background-color: transparent;
    color:var(--sand);
}

 /*SIMPLE SLIDER*/

.slides-wrapper{
    position: relative;
    height: calc(100vh - 104px - 8em - 32.31px);
    display: flex;
}
.slide{
    display:none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide .gatsby-image-wrapper{
    height: 100%;
    width: 100%;
   
}
.slide#active{
    display: block;
    position: relative;
    z-index: 0;
    animation: fade .3s both ease-out;
}


.slide#active .gatsby-image-wrapper{
    height: 100%;
    width: 100%;
    animation: scale-down .5s both ease-out;
}

.slider-buttons{
    position:absolute;
    z-index: 1;
    bottom:2em;
left:50%;
transform:translateX(-50%);
}

.slider-buttons button{
    border:none;
    width:1em;
    height:1em;
    margin:1em;
    border-radius: 100%;
    background: #00000055;
    transition: .3s background;
    cursor: pointer;
}
.slider-buttons button.active{
     
    
    background: var(--sand);
    transition: .3s background;
}
 /*SIMPLE SLIDER*/

/*FANCY SLIDER*/
.fancy{
    overflow: visible;
}
.fancy.in-screen{
   
}

.fancy>div>h3{
    width: 100%;
    text-align: center;
    color:var(--dark-green);
    font-weight: 200;
    margin-bottom: 2em;
    text-transform: uppercase;
font-style: italic;
letter-spacing: .25em;

}

.fancy>div{
   
}
.fancy-wrapper{
    /*height: calc(100vh - 294px);*/
    

}
.fancy-wrapper>div{

    height: 100%;
    width: 100%;
    overflow: visible;
    position: relative;
    margin-bottom: 5em;
}
.fancy-wrapper::-webkit-scrollbar {
  /*  width: 0px;
    background: transparent;  */
}
.fancy-slide{
    scroll-snap-align:center;

    height: 100%;
    width: 100% !important;
    margin:0 !important;
    min-height: calc(100vh - 240px);
    
}


.fancy button.prev{
    position: sticky;
    left:1em;
    top:50%;
}
.fancy button.next:after{
    content:" ";
    border-bottom: solid 2px var(--dark-green);
    border-left: solid 2px var(--dark-green);
    width:20px;
    height:20px;
    display: block;
    transform-origin: center;
   margin:auto;transform: rotate(-45deg);
}

.fancy button.prev:after{
    content:" ";
    border-top: solid 2px var(--dark-green);
    border-right: solid 2px var(--dark-green);
    width:20px;
    height:20px;
    display: block;
   margin:auto;
   transform-origin: center;
   transform: translateY(60%) rotate(-45deg)  ;
}


.fancy button.next{
    position: sticky;
    margin: 0 1em 0 auto;
    display: block;
    top:50%;
}
.fancy button.prev,.fancy button.next{
    cursor: pointer;
    text-align: center;
    border: none;
    background: transparent;
    color: var(--dark-green);
    text-transform: uppercase;
    font-style: italic;pointer-events: none;
    opacity: 0;
    transition: .3s opacity;
    z-index: 2;
}
.snap .fancy button.prev, .snap .fancy button.next{
    opacity: 1;
    pointer-events: all;
    transition: .3s opacity;
}
 
.fancy-slide .gatsby-image-wrapper{
    height: 100%;
    width: min(600px,100%);
    margin:auto;
    clip-path: inset(20% 20% 20% 20%);
     transform:scale(1.1);
    transition: .3s clip-path ease-out, .3s transform ease-out;
}

 
.fancy-slide button{
    margin-top: 2em;
    opacity: 0;
    transition: .3s opacity;
    
}
.fancy-wrapper .in-screen .fancy-slide button{
opacity: 1;
transition: .3s opacity;
}
.fancy-wrapper .in-screen .fancy-slide .gatsby-image-wrapper{
   
    clip-path: inset(0% 0% 0% 0%);
    transform:scale(1);
    transition: .3s clip-path ease-out, .3s transform ease-out;
}


 

.fancy-title{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    color: var(--dark-green);
    mix-blend-mode: color-dodge;
    font-size: 6em;
    font-weight: 400;
    line-height: .5em;
    letter-spacing: .25em;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;


}
.fancy-slide span:first-child{
    transform: translateX(-50%);
    display: inline-block;
    opacity:0;
    transition: .5s transform ease-out;
}
.fancy-title .sub{
    font-weight: 200;
    font-size: .9em;
    letter-spacing: initial;
    transform: translateX(50%);
    display: inline-block;
    opacity:0;
    transition: .3s transform ease-out, .3s opacity;
}

.fancy-wrapper .in-screen .fancy-title span{
    transform: translateX(0);
    opacity:1;
    transition: .3s transform ease-out, .3s opacity;
}

/*FANCY SLIDER*/


 @media (max-width: 800px) {
.first{
    display:none;
}
.col-wrapper {
  
    flex-direction: column-reverse;
}

.left-col,.right-col{
    width: calc(100% - 2em);

    margin:1em;
    
}

.blurb .script{
    font-size: 1.7em;
}
form {
   
    margin: 3em;
}

form label input {
    width: 200px;
}

    .component>div{
        --margin:0;
        margin-bottom: 2em;
        width:100%;
    }



    .wrapped-header{
      font-size:1.5em;
         margin: 1em ;
}
.fancy-title{
    font-size: 3.6em ;
    mix-blend-mode: normal;
}
 }


 @media (max-width: 500px) {
  
    .fancy-title{
        font-size: 2.6em ;
        mix-blend-mode: normal;
    }
     


    .fancy button.prev,.fancy button.next{
       
        color: var(--sand);
        
    }
    .fancy button.prev:after,.fancy button.next:after{
        border-color: var(--sand);
    }

    .blurb{
        padding-bottom: 2em;
    }
    .blurb .script{
        font-size: .7em;
    }
    .blurb h2 span:nth-child(3){font-size: .3em;}
 }